In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from datacleaner import autoclean
from sklearn.model_selection import GridSearchCV, train_test_split
from xgboost import XGBClassifier

from sklearn.metrics import r2_score

import numpy as np
import os

## Read in the csv-files and get a feel for them

In [72]:
testdf = pd.read_csv('test.csv')
traindf = pd.read_csv('train.csv')

In [73]:
traindf.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [74]:
testdf.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Autoclean the dataset and split it in the target column and all columns used for machine learning

In [75]:
traindf_clean = autoclean(traindf)

In [76]:
testdf_clean = autoclean(testdf)

In [77]:
traindf_clean.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,108,1,22.0,1,0,523,7.2500,47,2
1,2,1,1,190,0,38.0,1,0,596,71.2833,81,0
2,3,1,3,353,0,26.0,0,0,669,7.9250,47,2
3,4,1,1,272,0,35.0,1,0,49,53.1000,55,2
4,5,0,3,15,1,35.0,0,0,472,8.0500,47,2

In [78]:
X, y = traindf_clean.loc[:, traindf_clean.columns != 'Survived'],traindf_clean.loc[:, traindf_clean.columns == 'Survived']

In [79]:
X.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,108,1,22.0,1,0,523,7.2500,47,2
1,2,1,190,0,38.0,1,0,596,71.2833,81,0
2,3,3,353,0,26.0,0,0,669,7.9250,47,2
3,4,1,272,0,35.0,1,0,49,53.1000,55,2
4,5,3,15,1,35.0,0,0,472,8.0500,47,2

## Using the XGBoost Classifier and a grid search for a first prediction

In [ ]:
params = {'min_child_weight':[10,11], 'gamma':[i/100.0 for i in range(3,9)],  'subsample':[i/100.0 for i in range(12,22)],
'colsample_bytree':[i/100.0 for i in range(12,22)], 'max_depth': [4,6,8]}

# Initialize XGB and GridSearch
xgb = XGBClassifier(nthread=-1) 

grid = GridSearchCV(xgb, params)
grid.fit(X,y)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [81]:
Xtest, ytest = testdf_clean.loc[:, testdf_clean.columns != 'Survived'],testdf_clean.loc[:, testdf_clean.columns == 'Survived']

In [82]:
traindf_clean['Predict'] = grid.best_estimator_.predict(X)

In [83]:
traindf_clean.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Predict
0,1,0,3,108,1,22.0,1,0,523,7.2500,47,2,0
1,2,1,1,190,0,38.0,1,0,596,71.2833,81,0,1
2,3,1,3,353,0,26.0,0,0,669,7.9250,47,2,1
3,4,1,1,272,0,35.0,1,0,49,53.1000,55,2,1
4,5,0,3,15,1,35.0,0,0,472,8.0500,47,2,0

In [84]:
traindf_clean[['Survived', 'Predict']].head()

   Survived  Predict
0         0        0
1         1        1
2         1        1
3         1        1
4         0        0

In [85]:
accuracy = accuracy_score(y, traindf_clean['Predict'])
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 88.89%

In [86]:
testdf_clean['Predict'] = grid.best_estimator_.predict(Xtest)

In [88]:
testdf_clean.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Predict
0,892,3,206,1,34.5,0,0,152,7.8292,15,1,0
1,893,3,403,0,47.0,1,0,221,7.0000,15,2,0
2,894,2,269,1,62.0,0,0,73,9.6875,15,1,0
3,895,3,408,1,27.0,0,0,147,8.6625,15,2,0
4,896,3,178,0,22.0,1,1,138,12.2875,15,2,1

In [90]:
kaggle=testdf_clean[['PassengerId', 'Predict']]

In [91]:
kaggle.columns = ['PassengerId', 'Survived']

In [93]:
kaggle.to_csv('titanic.csv', index=False)

## Close to 89% on the train-set. Let's see if we can improve that

In [34]:
traindf[['male', 'female']] = pd.get_dummies(traindf.Sex)

In [37]:
traindf[['S', 'C', 'Q']] = pd.get_dummies(traindf.Embarked)

In [42]:
traindfml = traindf.drop(["Sex","PassengerId","Name", "Ticket", "Embarked", "Cabin"], axis=1)

In [43]:
traindfml.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  male  female  S  C  Q
0         0       3  22.0      1      0   7.2500     0       1  0  0  1
1         1       1  38.0      1      0  71.2833     1       0  1  0  0
2         1       3  26.0      0      0   7.9250     1       0  0  0  1
3         1       1  35.0      1      0  53.1000     1       0  0  0  1
4         0       3  35.0      0      0   8.0500     0       1  0  0  1

In [45]:
Xml, yml = traindfml.loc[:, traindfml.columns != 'Survived'],traindfml.loc[:, traindfml.columns == 'Survived']

In [49]:
params = {'min_child_weight':[4,5], 'gamma':[i/10.0 for i in range(3,6)],  'subsample':[i/10.0 for i in range(6,11)],
'colsample_bytree':[i/10.0 for i in range(6,11)], 'max_depth': [2,3,4]}

# Initialize XGB and GridSearch
xgb = XGBClassifier(nthread=-1) 

grid = GridSearchCV(xgb, params)
grid.fit(Xml,yml)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/label.py:219: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/label.py:252: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                     colsample_bylevel=1, colsample_bynode=1,
                                     colsample_bytree=1, gamma=0,
                                     learning_rate=0.1, max_delta_step=0,
                                     max_depth=3, min_child_weight=1,
                                     missing=None, n_estimators=100, n_jobs=1,
                                     nthread=-1, objective='binary:logistic',
                                     random_state=0, reg_alpha=0, reg_lambda=1,
                                     scale_pos_weight=1, seed=None, silent=None,
                                     subsample=1, verbosity=1),
             iid='warn', n_jobs=None,
             param_grid={'colsample_bytree': [0.6, 0.7, 0.8, 0.9, 1.0],
                         'gamma': [0.3, 0.4, 0.5], 'max_depth': [2, 3, 4],
                         'min_child_weight': [4, 5],
                         'subsample': [0.6, 0.7, 0.8, 0.9, 1.0]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [50]:
traindfml['Predict'] = grid.best_estimator_.predict(Xml)

In [51]:
accuracy = accuracy_score(yml, traindfml['Predict'])
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 87.65%